body {
    margin: 0px;
    padding: 0px;
    background-color: #fbf9fa;
    font-family: 'Poppins', sans-serif;
}

.clearfix {
    clear: both;
}

/* Header */

header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px 10px;
    background-color: #503775;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
}

.logo {
    float: left;
    box-sizing: border-box;
}

nav {
    float: right;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    display: block;
    margin: 10px auto;
    padding: 17px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .5s;
}

nav ul li a:hover::after {
    width: 100%;
    transition: width .5s;
}

/* Content */

.main-content {
    width: 90%;
    margin: 30px auto;
}

/* Main */

main {
    width: 70%;
    box-sizing: border-box;
    float: left;
}

/* Aside */

aside {
    box-sizing: border-box;
    width: 30%;
    float: left;
}

aside section {
    width: 92%;
    margin: 10px auto 20px auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

aside section .section-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    display: block;
    margin: 10px auto;
}

/* Aside - Search */

aside section.search input {
    position: relative;
    display: inline-block;
    font-size: 16px;
    transition: .5s;
}

aside section.search input[type="search"] {
    background-color: #fff;
    border: 1px solid #444;
    height: 40px;
    width: 90%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 7px;
}

aside section.search .searchbutton {
    width: 90%;
    height: 30px;
    margin-top: 5px;
    border-radius: 7px;
    border: none;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

aside section.search .searchbutton:hover {
    transition: .3s;
    background-color: #fff;
    color: #444;
    border: 1px solid #444;
}

/* Aside - Topics */

aside section.topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}

aside section.topics ul li a {
    display: block;
    padding: 15px 0px 15px 10px;
    border-bottom: 1px solid #e0e0e0;
    text-decoration: none;
    color: inherit;
    transition: all .3s;
}

aside section.topics ul li a:hover {
    padding-left: 20px;
    transition: all .3s;
}

/* Aside - Social Media */

aside section.social-media ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}

aside section.social-media ul li a {
    display: block;
    padding: 15px 0px 15px 10px;
    border-bottom: 1px solid #e0e0e0;
    text-decoration: none;
    color: inherit;
    transition: all .3s;
}

aside section.social-media ul li a:hover {
    padding-left: 20px;
    transition: all .3s;
}

aside.fixed-aside {
    position: sticky;
    top: 0px;
}

/* Popular Post */

.popular-wrapper {
    width: 92%;
    padding: 10px 0;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #fff;
}

.popular-wrapper h2 {
    text-align: center;
    margin: auto;
}

.popular-wrapper .carousel {
    width: 90%;
    margin: 0px auto;
}

.popular-wrapper .carousel .popular-card {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    border-radius: 8px;
}

.popular-wrapper .carousel .popular-card img {
    border-radius: 8px;
}

.owl-dots {
    text-align: center;
}

.owl-dot {
    height: 15px;
    width: 45px;
    border: 2px solid #503775 !important;
    border-radius: 20px;
    cursor: pointer;
    margin: 0px 5px;
    outline: none;
    transition: all .3s ease;
}

.owl-dot:hover,
.owl-dot.active {
    background-color: #503775 !important;
}

/* Post */

.new-wrapper {
    width: 92%;
    /* background-color: #fff; */
    margin: 20px auto;
    box-sizing: border-box;
    border-radius: 5px;
    /* box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .3); */
}

.new-wrapper h2 {
    text-align: center;
    padding-top: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;
    width: 100%;
    margin: 10px auto;
    font-family: 'Poppins', sans-serif
}

.grid > article {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .3);
    border-radius: 5px;
    text-align: center;
    background-color: #fff
}

.grid > article p {
    color: #000;
    transition: .3s;
}

.grid > article a:hover {
    color: #fff;
    background-color: #95389E;
    padding-left: 2px;
    padding-right: 2px;
}

.grid > article a {
    text-decoration: none;
    color: #000;
}

.grid > article a h3 {
    margin: auto;
    transition: .3s;
}

.grid > article a h3:hover {
    color: #95389E;
}

.grid > article .read-me {
    padding: 10px;
    border-radius: 30px;
    color: #fff;
    background-color: #323232;
    transition: .5s;
    text-decoration: none;
}

.grid > article .read-me:hover {
    padding: 12px;
    background-color: #fff;
    color: #323232;
    border: 2px solid #323232;
}

.grid > article img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.text {
    padding: 0 20px 20px
}

.text > h3 {
    text-transform: uppercase
}

/* Pagination */

.pagination ul {
    display: flex;
    margin: 0px;
    padding: 15px;
}

.pagination ul li {
    list-style: none;
}

.pagination ul .li-container {
    margin: 0px auto;
    display: flex;
}

.pagination ul li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #444;
    transition: all .3s;
}

.pagination ul li a:hover,
.pagination ul li a.active {
    background-color: #fff;
    color: #444;
}

/* Footer */

footer {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #1b262c;
    padding: 10px;
    box-sizing: border-box;
}

footer h1 {
    margin: 0;
}

footer .footer-lower {
    box-sizing: border-box;
    padding: 20px;
}

footer .footer-up a {
    color: inherit;
    display: inline-block;
    margin: 10px 10px;
}

footer .footer-lower a {
    color: inherit;
}

/* Media */

@media (max-width:868px) {
    .main-content {
        width: 100%;
    }

    main {
        width: 100%;
    }

    aside {
        width: 100%;
    }

    .new-wrapper .post .post-img {
        width: 100%;
    }

    .new-wrapper .post .post-preview {
        width: 100%;
    }

    .new-wrapper .post {
        display: block;
        padding-top: 30px;
    }

    .new-wrapper .post .post-preview {
        padding: 0;
    }
}

@media (max-width:868px) {
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        float: right;
        cursor: pointer;
        margin: 20px 10px;
        text-align: center;
        font-size: 30px;
        color: #fff;
    }

    .menu-toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }

    .menu-toggle.active:before {
        content: '\f00d';
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
        width: 100%;
    }

    nav.active ul {
        display: block;
    }

    footer .inner-footer .footer-items {
        width: 100%;
    }
}

@media (max-width:400px) {
    .owl-dot {
        width: 33px;
    }
}

@media (max-width:330px) {
    .pagination ul li a {
        width: 35px;
        height: 35px;
        font-size: 16px;
        line-height: 35px;
    }
}

@media (max-width: 630px) {
    .grid {
        grid-template-columns: repeat(1, 1fr)
    }
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    background-color: #eee
}

::-webkit-scrollbar-thumb {
    background-color: #503775;
}
